/* Montserrat */

@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

/* Korataki */

@font-face {
  font-family: Korataki;
  src: url(../../assets/fonts/korataki.otf);
  font-weight: 400;
}

@font-face {
  font-family: Korataki;
  src: url(../../assets/fonts/korataki_bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Korataki;
  src: url(../../assets/fonts/korataki_extrabold.otf);
  font-weight: 800;
}

@font-face {
  font-family: Korataki;
  src: url(../../assets/fonts/korataki_italic.otf);
  font-style: italic;
}
